@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

h1 {
  margin-top: 0;
}

.header {
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
}

.header--logo {
  width: 24px;
  margin-right:7px;
}

.card {
  padding: 40px 40px 18px 40px;
  display: flex;
}

.card--header {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;
}

.card--textContainer {
  padding-left: 20px; 
}

.card--dates {
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  color: #2B283A;
}

.card--description {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 15px;
   color: #2B283A;
}

.card--location {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
  margin-left: 3px;
}

.card--hyperlink {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
  margin-left: 5px;
}

.card--locationContainer {
  display: flex;
  align-items: center;
}

.card--divider {
  border: 1px solid #F5F5F5;
  margin-top: 0px;
}